body {
  width: 400px;
  height: 250px;
}
div {
  padding: 5px;
}
.open_ocean_search {
  display: flex;
  justify-content: center;
}
.open_ocean_search img {
  width: 30px;
  height: 30px;
}
.open_ocean_search button {
  margin: 0px 5%;
  width: 310px;
}

.language {
  display: flex;
  justify-content: space-evenly;
}
label {
  font-size: 17px;
}
.language select {
  width: 100px;
  font-size: 15px;
}

.tools {
  margin: 0px 22px;
}
fieldset {
  font-size: 15px;
}

.download {
  text-align: center;
}
.download button{
  width: 200px;
}